<%- include('./partials/header.ejs') %>
<h1>Compose</h1>
<form method="post" action="/compose">
  <input name="postTitle" />
  <button type="submit">Publish</button> 
</form>
<%- include('./partials/footer.ejs') %>